@if (isLoaded)
{
    @ChildContent
}
else
{    
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <h1>Michael Smit, freelance .NET software developer</h1>
        <br />
        <h3>Savitar WebAssembly is initialising...</h3>        
        <br />
        <p><div class="spinner" style="margin-left: auto; margin-right: auto" /></p>
    </div>    
}

<style>
    .spinner {
            border: 16px solid silver;
            border-top: 16px solid #337AB7;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 700ms linear infinite;            
        }

    @@keyframes spin {
            0% {
                transform: rotate(0deg)
            }

            100% {
                transform: rotate(360deg)
            }
        }
</style>
@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1); // TODO actual initialization job
        isLoaded = true;        
    }


}