@page "/"

<CardWithSideImage ImageSrc="/Images/SoftwareDeveloper.jpg">
    <Title>About Me</Title>
    <Description>
        <p>I am a <a href="https://www.w3schools.com/whatis/whatis_fullstack.asp" target="_blank">full stack</a> software developer that has been pounding away at the keyboard for approximately @GetTotalYears() years (@(GetTotalYears() - 9) professionally).</p>        
    </Description>
</CardWithSideImage>
<br />
<CardWithSideImage ImageSrc="/Images/LetsCreateStuff.jpg">
    <Title>Lets Create Stuff!</Title>
    <Description>
        <p>I have proudly assisted a number of start-ups grow into successful companies.</p>
        <p><a href="/MyWork">My Work</a> has a comprehensive listing of projects I have worked on, all the way down to hobby projects.</p>
    </Description>
</CardWithSideImage>
<br />
<CardWithSideImage ImageSrc="/Images/GeekSpeek.png">
    <Title>The Geek Speek</Title>
    <Description>
        <p>While my techical abilities are rather versatile, my specialty lays in the Microsoft Ecosystem - .NET, C#, SQL Server, etc...</p>
        <p>Please see my <a href="/SkillsMatrix">Skills Matrix</a> for a verbose listing of skills I have accumulated over the years.</p>
    </Description>
    <Footer>This is a test</Footer>
</CardWithSideImage>

<style>
    * {
        box-sizing: unset;
    }
</style>

@code {
    int GetTotalYears()
    {
        return (int)(DateTime.Now.Date - (new DateTime(1986, 8, 11))).TotalDays / 365;
    }
}

@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@
