@page "/contact"
@inject HttpClient Http

<h1>Contact</h1>

<p>Email: <a href="mailto:msmit@savitar.co.za">msmit@savitar.co.za</a></p>
<p>Whatsapp: <a href="https://wa.me/27609101010">+27 60 910 1010</a></p>