@page "/"

<h1>Savitar IT Solutions</h1>

<p>This website is currently a work-in-progress. I am in need of something to code to learn Microsofts new Blazor technologies, and decided a new website will be that first project.</p>

<p>This landing page will be updated shortly with some decent content. Please feel free to browse the rest of the content while you wait.</p>
