@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />    
    <div class="d-lg-none row card-header">
        @*Will only show on mobile screens.*@        
        <a class="pl-4" href="mailto:msmit@savitar.co.za" target="_blank"><img src="/Images/Email.png" width="36" height="36" /></a>        
        <a class="pl-4" href="https://wa.me/27609101010" target="_blank"><img src="/Images/Whatsapp.png" width="36" height="36" /></a>
        <a class="pl-4" href="tel:+27609101010" target="_blank"><img src="/Images/CallMe.png" width="36" height="36" /></a>        
    </div>    
</div>

<div class="main">
    <div class="top-row">
        <a href="mailto:msmit@savitar.co.za" target="_blank"><img src="/Images/Email.png" width="36" height="36" /></a>
        <a href="https://wa.me/27609101010" target="_blank"><img src="/Images/Whatsapp.png" width="36" height="36" /></a>
        <a href="tel:+27609101010" target="_blank"><img src="/Images/CallMe.png" width="36" height="36" /></a>
    </div>

    <div class="content">
        @Body
    </div>
</div>
