<div class="top-row pl-4 navbar navbar-dark">
    <img src="/Images/SavitarLogoHeader.png" alt="Savitar IT" width="240" height="50">
    
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <NavMenuItem Title="Home" Href="" IconClass="oi-home"></NavMenuItem>
        <NavMenuItem Title="Services" Href="services" IconClass="oi-puzzle-piece"></NavMenuItem>
        <NavMenuItem Title="My Work" Href="mywork" IconClass="oi-project"></NavMenuItem>
        <NavMenuItem Title="Skills Matrix" Href="skillsmatrix" IconClass="oi-list"></NavMenuItem>
        <NavMenuItem Title="Contact" Href="contact" IconClass="oi-star"></NavMenuItem>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
