@page "/services"
@using Savitar.Web.Server.Models
@using Savitar.Web.Server.Shared
@inject HttpClient Http

<h1>Services</h1>

@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var item in _items)
    {
        <p><ServiceItem Data="@item"></ServiceItem></p>
    }
}


@code {
    private Savitar.Web.Server.Models.Service[] _items;

    protected override async Task OnInitializedAsync()
    {
        _items = await Http.GetFromJsonAsync<Savitar.Web.Server.Models.Service[]>("api/data/GetServices");
    }
}