@page "/sysadmin/users"
@using Savitar.Domain.Models
@inject HttpClient Http

<BasePage Title="Users" OnInitData="OnInitData">
    @if (_items == null)
    {
        <MudContainer Class="spinner" />
    }
    else
    {
        <MudGrid>
            @foreach (var item in _items)
            {       
                <MudItem xs="12">
                    <MudCard Outlined="true">
                        <MudCardHeader Class="pl-5 py-1">
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6"><p>@((MarkupString)item.Email)</p></MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @code {
        private IEnumerable<UserInfo> _items;

        protected async Task OnInitData(BasePageServices basePageServices)
        {
            basePageServices.DisplayMessage("Loading Users");
     
            var data = await Http.GetFromJsonAsync<UserInfo[]>("api/sysadmin/users");
            if (data == null)
            {
                _snackbar.Add("No users found", Severity.Warning);
                return;
            }

            _items = data.OrderBy(x => x.Email).ToList();
        }        
    }
</BasePage>