@page "/contact"
@inject HttpClient Http

<MudText Typo="Typo.h4">Contact</MudText>

<Contacts IsVertical="true" />

@*<MudLink Href="https://wa.me/27609101010" Target="_blank"><img src="/Images/Whatsapp.png" title="Whastapp me now" width="36" height="36" style="vertical-align: middle" /><span class="ml-4">+27 60 910 1010</span></MudLink>
<MudDivider Class="my-2" />
<MudLink Href="mailto:msmit@savitar.co.za" Target="_blank" Class="pr-8"><img src="/Images/Email.png" title="Email me now" width="36" height="36" style="vertical-align: middle" /><span class="ml-4">msmit@savitar.co.za</span></MudLink>
<MudDivider Class="my-2" />
<MudLink Href="tel:+27609101010" Target="_blank" Class="pr-8"><img src="/Images/CallMe.png" title="Call me now" width="36" height="36" style="vertical-align: middle" /><span class="ml-4">+27 60 910 1010</span></MudLink>*@