@page "/contact"
@inject HttpClient Http

<h1>Contact</h1>

<p><a href="https://wa.me/27609101010" target="_blank"><img src="/Images/Whatsapp.png" width="36" height="36" /> +27 60 910 1010</a></p>
<p><a href="mailto:msmit@savitar.co.za" target="_blank"><img src="/Images/Email.png" width="36" height="36" /> msmit@savitar.co.za</a></p>
<p><a href="tel:+27609101010" target="_blank"><img src="/Images/CallMe.png" width="36" height="36" /> +27 60 910 1010</a></p>