@page "/"

<CardWithSideImage ImageSrc="/Images/SoftwareDeveloper.jpg">
    <Title>About Me</Title>
    <Description>
        <p>I am a <a href="https://www.w3schools.com/whatis/whatis_fullstack.asp" target="_blank">full stack</a> software developer for hire!</p>
        <p>I am based in Hilton, South Africa and available worldwide.</p>
        <p>Current interests are Microsoft Blazor and Blockchain development.</p>
    </Description>
</CardWithSideImage>
<br />
<CardWithSideImage ImageSrc="/Images/LetsCreateStuff.jpg">
    <Title>Lets Create Stuff!</Title>
    <Description>
        <p>I have proudly assisted a number of start-ups grow into successful companies.</p>
        <p><a href="/MyWork">My Work</a> has a comprehensive listing of projects I have worked on, all the way down to hobby projects.</p>
    </Description>
</CardWithSideImage>
<br />
<CardWithSideImage ImageSrc="/Images/GeekSpeek.png">
    <Title>The Geek Speek</Title>
    <Description>
        <p>My techical abilities are rather versatile, but my focus sits in the Microsoft Ecosystem - .NET, C#, SQL Server, etc...</p>
        <p>Please see my <a href="/SkillsMatrix">Skills Matrix</a> for a verbose listing of skills I have accumulated over the years.</p>
        <p>While Angular, Vue, React, {insert JS framework here} are mainstream SPA frameworks, I prefer to swim upstream and dig into <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor" target="_blank">ASP.NET Core Blazor</a>. Yep, Microsoft technology. BTW: .NET is open source and runs on any platform.</p>
    </Description>
</CardWithSideImage>

@code {
    int GetTotalYears()
    {
        return (int)(DateTime.Now.Date - (new DateTime(1986, 8, 11))).TotalDays / 365;
    }
}