@page "/"
@attribute [AllowAnonymous]

<BasePage Title="Savitar Software Solutions">
    <CardWithSideImage ImageSrc="/Images/SoftwareDeveloper.jpg">
        <Title>Introduction</Title>
        <Description>
            <p>We are <a href="https://www.w3schools.com/whatis/whatis_fullstack.asp" target="_blank">full stack</a> .NET software developers, based in Hilton / South Africa and available to take on projects worldwide.</p>
            <br />
            <p>Current focus points are <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Microsoft Blazor WebAssembly</a> and general <a href="https://www.investopedia.com/terms/b/blockchain.asp" target="_blank">Blockchain</a> development, so when not busy on actual work - we are fiddling with these technologies. We feel there is a massive future for both, and want to be part of building that future.</p>
        </Description>
    </CardWithSideImage>
    <br />

    <CardWithSideImage ImageSrc="/Images/LetsCreateStuff.jpg">
        <Title>Lets Create Stuff!</Title>
        <Description>
            <p>We have proudly assisted a number of start-ups grow into successful companies.</p>
            <br />
            <p><a href="/Portfolio">Portfolio</a> has a comprehensive listing of projects Savitar has been involved with..</p>
        </Description>
    </CardWithSideImage>
    <br />
    <CardWithSideImage ImageSrc="/Images/GeekSpeek.png">
        <Title>The Geek Speak</Title>
        <Description>
            <p>While our technical abilities are rather versatile, our focus sits in the Microsoft Ecosystem - .NET, C#, SQL Server, etc...</p>
            <br />
            <p>While Angular, Vue, React, {insert JS framework here} are mainstream SPA frameworks, we prefer to swim upstream and dig into <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>. BTW: .NET is open source and runs on any platform.</p>
        </Description>
    </CardWithSideImage>

    @code {
        int GetTotalYears()
        {
            return (int)(DateTime.Now.Date - (new DateTime(1986, 8, 11))).TotalDays / 365;
        }    
    }
</BasePage>