@page "/login"
@using Savitar.WebAssembly.Services.Implementations
@using Microsoft.AspNetCore.Components
@using Savitar.Domain.Models
@layout MainLayout;
@inject NavigationManager _navigationManager;
@inject IdentityAuthenticationStateProvider _authStateProvider;


<BasePage Title="Login">
    <EditForm OnValidSubmit="OnSubmit" Model="LoginParameters">
        <DataAnnotationsValidator />
        <h4>Login</h4>

        <label for="inputUsername">User Name</label>
        <InputText id="inputUsername" @bind-Value="LoginParameters.UserName" autofocus placeholder="Username" />
        <ValidationMessage For="@(() => LoginParameters.UserName)" />

        <label for="inputPassword">Password</label>
        <InputText type="password" id="inputPassword" placeholder="Password" @bind-Value="LoginParameters.Password" />
        <ValidationMessage For="@(() => LoginParameters.Password)" />

        <div>
            <InputCheckbox id="inputRememberMe" @bind-Value="@LoginParameters.RememberMe" />
            <label for="inputRememberMe">Remember Me</label>
        </div>

        <button type="submit">Sign in</button>

        <label>@Error</label>

        <NavLink href="register">
            <h6>Create account</h6>
        </NavLink>
    </EditForm>
</BasePage>

@code{
    LoginParameters LoginParameters { get; } = new LoginParameters();
    string Error { get; set; }

    async Task OnSubmit()
    {
        Error = null;
        try
        {
            await _authStateProvider.Login(LoginParameters);
            _navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }
}