@page "/services"
@using Savitar.Web.Models
@using Savitar.Web.Services.Contracts
@inject HttpClient Http
@inject ICVDataService CVDataService

<MudText Typo="Typo.h4">Services</MudText>

@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
        <MudList>
            <MudListItem>Photos</MudListItem>
            <MudListItem>Work</MudListItem>
            <MudListItem>Vacation</MudListItem>
        </MudList>
    

    <MudText>
        <ul>
            <li>Per Module</li>
            <li>Per Project</li>    
            <li>Per Hour</li>
            <li>1 or more days per week - 1 or more weeks per month (most common). We agree on the pre-booked time and enter into a retainer. The per hour rate is also reduced relative to the kind of time booked in this arrangment.</li>
        </ul>
    </MudText>

    <style>
        a {
            background-color: yellow;
        }
    </style>

    @*<MudGrid>
        @foreach (var item in _items)
        {       
            <MudItem xs="12">
                <MudCard Outlined="true">
                    <MudCardHeader Class="pl-5 py-1" style="background-color: var(--mud-palette-background-grey)">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6"><p>@((MarkupString)item.Title)</p></MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="pa=0">
                        <MudText Typo="Typo.body1">@((MarkupString)item.Description)  </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>*@
}


@code {
    private Service[] _items;

    protected override async Task OnInitializedAsync()
    {
        _items = await CVDataService.GetServicesAsync();
    }
}