@using Savitar.Web.Client.Models
<div class="card">
    <div class="card-header">
        <span>
            @($"Client: {(MarkupString)Client.Name}")
            
            @if (!string.IsNullOrEmpty(Client.Url))
            {
                <a href="@Client.Url" target="_blank" class="oi oi-external-link mr-2"></a>
            }
        </span>
    </div>
    
    <div class="card-body">
        @foreach (var project in @Client.Projects)
        {
            <p>
                <ProjectItem Project="@project"></ProjectItem>
            </p>
        }
    </div>
</div>

<style>
    a:link {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
        color: inherit;
    }

    a:active {
        text-decoration: underline;
        color: inherit;
    }
</style>

@code {
    [Parameter]
    public Client Client { get; set; }
}