<li class="nav-item px-3">
    <NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">
        <span class="oi @IconClass" aria-hidden="true"></span> @Title
    </NavLink>
</li>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public string IconClass { get; set; }
}
