@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">     
            <a href="https://wa.me/27609101010" target="_blank"><img src="/Images/Whatsapp.png" width="36" height="36" /></a>
            <a href="mailto:msmit@savitar.co.za" target="_blank"><img src="/Images/Email.png" width="36" height="36" /></a>            
            <a href="tel:+27609101010" target="_blank"><img src="/Images/CallMe.png" width="36" height="36" /></a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
