<div class="top-row px-4 navbar navbar-dark">
    <img src="/Images/SavitarLogoHeader.png" alt="Savitar IT" width="240" height="50">

    @*<a class="navbar-brand" href="">Savitar.Web</a>*@
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="services" Match="NavLinkMatch.All">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Services
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mywork" Match="NavLinkMatch.All">
                <span class="oi oi-project" aria-hidden="true"></span> My Work
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skillsmatrix" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Skills Matrix
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span> Contact
            </NavLink>
        </li>

        @*<NavMenuItem Title="Home" Href="" IconClass="oi-home"></NavMenuItem>
        <NavMenuItem Title="Services" Href="services" IconClass="oi-puzzle-piece"></NavMenuItem>
        <NavMenuItem Title="My Work" Href="mywork" IconClass="oi-project"></NavMenuItem>
        <NavMenuItem Title="Skills Matrix" Href="skillsmatrix" IconClass="oi-list"></NavMenuItem>
        <NavMenuItem Title="Contact" Href="contact" IconClass="oi-star"></NavMenuItem>*@

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
